<!DOCTYPE html>
<html>
<head>
  <title>Psych 4 Performance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Vast+Shadow' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/main.css">


</head>
<body>

  <%= yield %>


</body>
</html>